<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
    href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css"
    rel="stylesheet"
    integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor"
    crossorigin="anonymous"
  />
    <title>your-movies</title>
  </head>
  <body>
    <div class="mt-5">
      {% if user.is_authenticated %}
    <form class="container w-50 mt-2" action="{% url 'movies:index'%}" method="post">
      {%csrf_token%}
      <div class="form-group">
        <label for="movieId">name of movie</label>
        <input
          class="form-control"
          id="movieId"
          type="text"
          name="movies"
          placeholder="type the name of the movie"
        />
      </div>
      <div class="form-group mt-2">
        <label for="stat">Choose below</label>
        <select class="form-select" id="stat" name="status" placeholder="select">
          <option value="unwatched">unwatched</option>
          <option value="watched">watched</option>
        </select>
      </div>
      <input class="btn btn-primary mt-3" type="submit" value="submit" />
    </form>


    <div class="container w-25">
      <a class="mt-5 w-100 btn btn-secondary bt-sm" href="{% url 'movies:library' %}">view library</a>
    </div>
    {% else %}
    <div class="container mt-5">
      <p><a href="{% url 'accounts:login' %}"> please login</a></p>
      <p><a href="{% url 'accounts:index' %} ">click here if you dont have an account</a></p>
    </div>
    {% endif %}
  </div>
  </body>
</html>
